

<div class="container">
    <div class="jumbotron">
        <h1>DailyOps <small>Login</small></h1>



        <div class="row">
            <div class="col-sm-6 text-muted">
                <h2>Choose a login provider</h2>
                <p>
                    To be implemented...
                </p>
            </div>
            <div class="col-sm-6">

                <h2>Sign in as a guest</h2>
                <form method="post" action="">
                    <input type="text" name="username" class="input-lg" value="guest" />
                    <input type="hidden" name="provider" value="guest" />
                    <input type="submit" class="btn btn-primary btn-lg" value="Login" />
                </form>
            </div>
        </div>
    </div>
</div>