<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="author" value="Jonas Jerndin" />
  </appSettings>
  <connectionStrings>
    <add name="eventstore" connectionString="Server=127.0.0.1;Database=eventstore_db;Uid=eventstoreuser;Pwd=changeit;" />
    <add name="dailyops_readmodels" connectionString="Server=127.0.0.1;Database=dailyops_readmodels;Uid=dailyops;Pwd=dailyops;" />
  </connectionStrings>
</configuration>