
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
        </div>
    </div>
</div>




<div class="completed-tasks col-md-3" data-bind="with: completedTasks">
    <h4>Completed today</h4>
    <div data-bind="foreach: $data">
        <div class="item">
            <h4>
                <span data-bind="text: $data.TaskTitle"></span>
                <small data-bind="text: $data.PlanName"></small>
            </h4>
            <a href="#revoke-completed" data-bind="click: $root.revokeCompleted">revoke completion</a>
        </div>
    </div>
</div>


<div class="remaining-tasks col-md-4" data-bind="with: remainingTasks">
    <h4>Remaining today</h4>
    <div data-bind="foreach: $data">
        <div class="item">
            <h3><span data-bind="text: $data.TaskTitle"></span> <small data-bind="text: Reccurence + ' in ' + PlanName">daily in My personal</small></h3>

            <a href="#complete" data-bind="click: $root.markCompleted">
                Done!
            </a>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/knockout")

@section scripts
{
    <script src="~/Scripts/dailyops/dailyops-execution.js"></script>
}
