
<div class="container">
    <div class="row">
        <div class="col">
            <h1>React test with da shit</h1>
            <div id="container">
                <!-- This element's contents will be replaced with your component. -->
            </div>
        </div>
    </div>
</div>





@Scripts.Render("~/bundles/react")


@section scripts
{

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js"></script>
<script type="text/babel" src="~/Scripts/dailyops/dailyops-plans.js">


</script>

}