

<div class="container">
    <div class="jumbotron">
        <h1>Daily Ops <small></small></h1>
        <p class="lead">
            The collaborative todo-app with easy reccurency.
        </p>

        <p>
            <a href="/planning">Manage your plans</a>
            <a href="/execution">View todays tasks</a>
        </p>
    </div>
</div>